#banner
  .banner_content
    %h1 PortableDoc
    %p You can take me anywhere.
    %button= link_to 'Sign Up', new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Echo park locavore normcore, cred bushwick flannel lumbersexual gastropub blog brunch next level poutine four dollar toast everyday carry chambray. Kitsch portland mumblecore flexitarian direct trade deep v, slow-carb mlkshk trust fund knausgaard cardigan intelligentsia XOXO lo-fi food truck. Keffiyeh cred etsy tote bag, mumblecore 8-bit mixtape quinoa shabby chic aesthetic synth.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to 'Join Now', new_user_registration_path
